@charset "UTF-8";

@import "zerostyle";
@import "fonts";

/* common styles */
body {
    overflow-x: hidden;
    &.lock {
        overflow-y: hidden;
    }
}
.wrapper {
    font-family: "Gilroy";
    overflow: hidden;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    
}
.text {

}
.button-back-call {
    box-shadow: 0 5px 13px rgba(228, 4, 4, 0.3);
    background-image: linear-gradient(-65deg, #ff0909 0%, #ff4115 41%, #ff6a47 43%, #ff0909 99%, #ff0909 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    /* text style */
    color: #ffffff !important;
    font-size: 12px;
    /* animation */
    transition: opacity .25s ease;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
    &.adaptive {
        @media(max-width: 767px) {
            max-width: 100%;
            width: 100%;
        }
    }
}
.input-tel {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 28px;
    width: 225px;
    height: 55px;
    font-size: 13px;
    font-weight: 300;
    padding: 0 28px;
    text-align: center;
}
/* content */
.header {
    .container {
        padding: 25px 15px;
        display: flex;
        justify-content: space-between;
        @media(max-width: 424px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        @media(max-width: 925px) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media(max-width: 424px) {
            align-items: center;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        margin: 0 93px 0 0;
        @media(max-width: 925px) {
            margin: 0 0 10px 0;
        }
    }

    &__img {
        margin: 0 14px 0 0;
    }

    &__name {
        font-family: "Playfair Display";
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
    }

    &__city {
        display: flex;
        align-items: center;
        img {
            margin: 0 15px 0 0;
        }
        span {
            font-size: 15px;
        }
        @media(max-width: 424px) {
            margin: 0 0 10px 0;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        @media(max-width: 654px) {
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
        }
        @media(max-width: 424px) {
            align-items: center;
        }
    }

    &__phone {
        font-family: "Chift Display";
        font-weight: 700;
        font-size: 18px;
        margin: 0 30px 0 0;
        @media(max-width: 654px) {
            margin: 0;
        }
        @media(max-width: 424px) {
            margin: 0 0 10px 0;
        }
    }

    &__button-back-call {
        width: 165px;
        height: 40px;
        border-radius: 20px;
    }
}

.homescreen {
    position: relative;
    &__top {
        background-color: #3a5896;
        padding: 49px 0 43px 0;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: -30px;
            left: calc(50% - 30px);
            transform: rotate(45deg);
            width: 60px;
            height: 60px;
            background-color: #3a5896;
        }
    }
    
    &__title {
        color: #ffffff;
        font-family: "Chift Display";
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 47px;
        text-align: center;
        @media(max-width: 424px) {
            font-size: 40px;
        }
        span {
            text-transform: none;
            font-size: 30px;
            line-height: 44px;
        }
    }

    &__bottom {
        background: url("images/homescreen/bg.png") 50% 50%/cover no-repeat;
        .container {
            position: relative;
        }
    }

    &__slider {
        position: relative;
    }

    .slider {
        .owl-nav {
            position: absolute;
            width: 66%;
            left: 17%;
            margin: 0;
            top: calc(50% - 13px);
            display: flex;
            justify-content: space-between;
            @media(max-width: 767px) {
                display: none;
            }
            .owl-prev, .owl-next {
                width: 15px;
                height: 26px;
                transition: opacity .25 ease;
                &:hover {
                    opacity: 0.5;
                }
            }
            .owl-prev {
                background: url("images/!slider/left.png") 50% 50% no-repeat !important;
            }
            .owl-next {
                background: url("images/!slider/right.png") 50% 50% no-repeat !important;
            }
        }
        .owl-dots {
            position: absolute;
            width: 100%;
            bottom: 20px;
            .owl-dot {
                span {
                    background-color: #cccccc;
                    margin: 0 5px;
                }
                &:hover {
                    span {
                        background-color: #cccccc;
                    }
                }
                &.active {
                    span {
                        background-color: #3a5896;
                    }
                }
            }
        }
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 134px 0;
        }
    
        &__title {
            font-size: 26px;
            font-family: "Playfair Display";
            font-weight: 700;
            font-style: italic;
            max-width: 281px;
            margin: 0 0 45px 0;
        }
    
        &__button-back-call {
            width: 225px;
            height: 55px;
            border-radius: 28px;
        }
    }

    &__abs-image {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.instruction {
    position: relative;
    .container {
        display: flex;
        padding: 100px 15px;
        align-items: center;
        @media(max-width: 992px) {
            justify-content: space-between;
        }
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }

    &__left {
        margin: 0 58px 30px 97px;
        @media(max-width: 992px) {
            margin: 0 30px 0 0;
        }
        @media(max-width: 767px) {
            margin: 0 0 50px 0;
        }
    }

    &__title {
        font-size: 40px;
        font-family: "Chift Display";
        text-transform: uppercase;
        font-weight: 700;
        line-height: 40px;
        margin: 0 0 87px 0;
        max-width: 400px;
        z-index: 1;
        @media(max-width: 767px) {
            text-align: center;
            max-width: 100%;
        }
    }

    &__text {
        max-width: 320px;
        font-size: 20px;
        line-height: 27px;
        font-family: "Playfair Display";
        font-style: italic;
        position: relative;
        z-index: 1;
        @media(max-width: 992px) {
            margin: 0 0 0 57px;
        }
        @media(max-width: 767px) {
            max-width: 100%;
        }
        span {
            font-weight: 700;
        }
        &:before {
            content: "";
            position: absolute;
            width: 90px;
            height: 87px;
            background: url("images/instruction/01.png") 50% 50% no-repeat;
            top: -47px;
            left: -57px;
            z-index: -1;
        }
    }

    &__right {
        max-width: 421px;
        width: 100%;
        @media(max-width: 767px) {
            max-width: 100%;
        }
    }

    &__form {
        border: 8px solid #3a5896;
        max-width: 421px;
        height: 410px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        @media(max-width: 767px) {
            max-width: 100%;
        }
    }

    .form {

        &__title {
            font-family: "Playfair Display";
            font-size: 22px;
            font-weight: 700;
            max-width: 265px;
            margin: 0 0 20px 0;
            z-index: 1;
        }
    
        &__text {
            font-family: "Playfair Display";
            font-size: 16px;
            font-style: italic;
            margin: 0 0 30px 0;
            z-index: 1;
        }
    
        &__tel {
            margin: 0 0 15px 0;
            z-index: 1;
            @media(max-width: 767px) {
                width: 100%;
            }
        }
    
        &__button-back-call {
            margin: 0 0 30px 0;
            max-width: 225px;
            width: 100%;
            height: 55px;
            border-radius: 28px;
            font-size: 14px;
            z-index: 1;
            @media(max-width: 767px) {
                max-width: 100%;
                width: 100%;
            }
        }
    
        &__text-we {
            font-size: 13px;
            font-weight: 300;
            margin: 0 0 15px 0;
            z-index: 1;
        }
    
        &__checkbox-container {
            display: flex;
            align-items: center;
            z-index: 1;
            input {
                margin: 0 8px 0 0;
            }
            span {
                font-size: 11px;
                color: #999999;
                @media(max-width: 767px) {
                    text-align: left;
                }
                a {
                    text-decoration: underline;
                    color: #999999;
                }
            }
        }
    }

    &__abs-image {
        position: absolute;
        @media(max-width: 767px) {
            display: none;
        }
        &.image-1 {
            bottom: -217px;
            left: calc(50% - 328px);
        }
        &.image-2 {
            top: -385px;
            right: -217px;
            @media(max-width: 1659px) {
                right: -400px;
            }
            @media(max-width: 1279px) {
                right: -500px;
            }
        }
    }
}

/* fixed */
.fixed-pulse {
    background-color: #4fbaea;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    &:before,
    &:after {
        content: " ";
        display: block;
        position: absolute;
        border: 50%;
        border: 1px solid #4fbaea;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: pulse 1.5s linear infinite;
    }
    @media(max-width: 767px) {
        width: 80px;
        height: 80px;
        bottom: 20px;
        right: 20px;
        font-size: 40px;
        line-height: 80px;
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
@media(max-width: 767px) {
    @keyframes pulse {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
}

/* fancybox popups */
.fancybox-close-small {
    display: none;
}